.App {
  text-align: center;

}

.formUsuarios {
  padding: 10px;
  background-color: aliceblue;
}


.usersCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.usersContent {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 10px;
  border: 1px solid;
  text-align: center;
}

/*.tableHeaders {*/
/*  border: 1px solid;*/
/*}*/